.landing{
  background-image: url("../images/background1.jpg");
  background-size: cover;
  text-align: center;
  color: aliceblue;
  background-repeat: no-repeat;
  padding-top: 14%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.landing h1{
  line-height: 200%;
}

.landing p{
  line-height: 0%;
}

.logo {
  padding: 30px;
}

.mouse {
  padding-top: 120px;
  padding-bottom: 50px;
}

.aboutUs {
  text-align: center;
  padding: 40px;
}

.services {
  background-image: url("../images/background2.jpg");
  padding: 110px;
  background-size: cover;
  text-align: center;
  color: aliceblue;
  background-repeat: no-repeat;
}

.whatWeDo {
  text-align: center;
  padding: 40px;
}

.whatWeDo img {
  padding: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

#designText {
  display: none;
  color: black;
  padding: 30px;
}

#devText {
  display: none;
  color: black;
  padding: 30px;
}

#productDevText {
  display: none;
  color: black; 
  padding: 30px;
}
#portfolio {
  text-align: center;
  padding: 50px;
}
#portfolio img {
  padding-top: 40px;
  margin-left: 0;
}
.container {
  text-align: center;
  margin: 0;
}
.column {
  float: left;
  width: 25%;
  padding: 15px;
  margin-left: 0px;
}

.column img {
  size: 50%;
}
#contact {
 background-image: url(../images/background3.jpg);
 height: 100vh;
 background-repeat: no-repeat;
 background-size: cover;
 padding: 80px;
  }

.container-fluid {
  margin: 0px;
}

.contactUs {
  padding: 50px;
}
.contactUs h2 {
  padding: 20px;
  color: aliceblue;
  text-align: center;
}
 .contactUs form {
   text-align: center;
 }
 
 #name {
   width: 45vh;
   margin-left: 50vh;
 }

 #email {
width: 45vh;
 }

 #message {
  width: 100vh;
  margin: 30px; 
  margin-left: 45vh;
  color: aliceblue;
}

#button {
  margin-left: 50vh;
}

.socialMedia {
  margin-left: 70vh;
  padding-top: 30px;
}

.footer {
  padding: 20px;
  text-align: center;
}
#work1, #work2, #work3, #work4, #work5, #work6, #work7, #work8 {
  display: none;
  background-color: rgba(238, 234, 218, 0.753);
  width:56%;
  height: 83%;
  position: relative;
  transform: translate(-51%, -39%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20%;
  text-align: center;

}

#work1 p, #work2 p, #work3 p, #work4 p, #work5 p, #work6 p, #work7 p, #work8 p {
  
} 